
	<div class="col-lg-2 text-left"><%= id %></div>
    <div class="col-lg-3 text-left"><%= first_name %></div>
    <div class="col-lg-3 text-left"><%= last_name %></div>
    <div class="col-lg-1 text-left"></div>
    <div class="col-lg-1 text-left"><a href="<%= '#users/' + id %>"><span class='glyphicon glyphicon-eye-open'></span></a></div>
    <div class="col-lg-1 text-left"><a href="<%= '#users/' + id + '/edit' %>"><span class='glyphicon glyphicon-pencil'></span></a></div>
    <div class="col-lg-1 text-left"><span class='glyphicon glyphicon-remove'></span></div>